<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/805e0e56f7.js"></script>
  </head>
  <body>
    <header>
      <h1>Отчёты стажёра, Азат Аскеров</h1>
    </header>
    <span class="day-label">День 1</span>
    <div class="single-message-block">
      <h2>Заголовок</h2>
      <i class="fa fa-star"></i><span class="date">28.03.17</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem erat, aliquam sed aliquet sit amet, blandit sit amet nisi. Nullam orci mauris, euismod eu placerat quis, dignissim quis velit. Etiam a odio vel nunc accumsan consectetur. Praesent dolor ex, suscipit sit amet tortor at, tempus cursus ligula. Nam consectetur efficitur lectus, at vestibulum felis fringilla sit amet. Nullam volutpat odio in eros mollis bibendum. Cras aliquet consequat leo vel placerat. Donec faucibus augue lorem, in tincidunt dolor placerat quis. Vestibulum ullamcorper nisl nec blandit sagittis. Phasellus accumsan rutrum erat at congue. Vivamus pulvinar egestas placerat. Fusce dictum, dui id tincidunt ornare, ex neque fermentum ex, in pharetra augue diam vel mi. Suspendisse arcu est, lobortis eu aliquam et, luctus non ante. Nullam mollis in tortor sed vestibulum.

      Suspendisse non venenatis leo. Nam a odio nec erat semper aliquam. Aliquam ut nibh sed nunc luctus gravida sed eu ligula. Nulla pretium tortor non neque dapibus vehicula. Sed lorem metus, feugiat in vulputate porta, congue nec odio. Ut cursus et lectus non venenatis. Maecenas fermentum, nisi quis vulputate iaculis, magna justo viverra ipsum, ut pellentesque metus sem facilisis dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>

    <div class="single-message-block">
      <h2>Заголовок</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem erat, aliquam sed aliquet sit amet, blandit sit amet nisi. Nullam orci mauris, euismod eu placerat quis, dignissim quis velit. Etiam a odio vel nunc accumsan consectetur. Praesent dolor ex, suscipit sit amet tortor at, tempus cursus ligula. Nam consectetur efficitur lectus, at vestibulum felis fringilla sit amet. Nullam volutpat odio in eros mollis bibendum. Cras aliquet consequat leo vel placerat. Donec faucibus augue lorem, in tincidunt dolor placerat quis. Vestibulum ullamcorper nisl nec blandit sagittis. Phasellus accumsan rutrum erat at congue. Vivamus pulvinar egestas placerat. Fusce dictum, dui id tincidunt ornare, ex neque fermentum ex, in pharetra augue diam vel mi. Suspendisse arcu est, lobortis eu aliquam et, luctus non ante. Nullam mollis in tortor sed vestibulum.

      Suspendisse non venenatis leo. Nam a odio nec erat semper aliquam. Aliquam ut nibh sed nunc luctus gravida sed eu ligula. Nulla pretium tortor non neque dapibus vehicula. Sed lorem metus, feugiat in vulputate porta, congue nec odio. Ut cursus et lectus non venenatis. Maecenas fermentum, nisi quis vulputate iaculis, magna justo viverra ipsum, ut pellentesque metus sem facilisis dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </body>
</html>
